@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

:root{
    --primary-color: #6D28D9;
    --btn-color: #DDD6FE;
}

body {
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
}

.container {
    background-color: var(--primary-color);
    color: white;
    display: flex;
    flex-direction: column;
    width: 40vw;
    margin: auto;
}

#heading {
    padding-top: 3rem;
    text-align: center;
}

#para {
    padding-left: 2rem;
    text-align: center;
}

.label {
    text-align: center;
    padding-top: 1rem;
}

.input {
    height: 5vh;
    margin: 0rem 1rem;
}

#cash-given {
    display: none;
}

.label[for="cash-given"]{
    display: none;
}

#error-msg {
    text-align: center;
    font-size: 1.3rem;
}



#check-btn {
    background-color: var(--btn-color);
    font-family: 'Noto Sans', sans-serif;
    border: none;
    margin: auto;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    padding: 0.5rem 1rem;
}

.denomination {
    background-color: var(--btn-color);
    color: black;
    width: 5%;
    text-align: center;
   
}

.num-of-notes {
    background-color: white;
    color: black;
    text-align: center;
    width: 5%;

}

caption {
    padding-bottom: 1rem;
    font-size: 1.3rem;
}

table {
    table-layout: fixed;
    margin-right: 25px;
    margin-left: 25px;
    margin-bottom: 25px;
}
